{% load staticfiles %}
<html>
    <head>
         
        <link rel="stylesheet" href="{% static 'css/maqueta.css' %}">
        
        <script src="{% static 'js/prefix.js' %}" type="test/javascript"></script>
    </head>
    <body>

            <div class=contenedor>
            
            <header>
                
                <div class=logo>
                    <img alt=""src="{% static 'images/logo.png' %}" width=150>
                    <a href=#>MIS PERRIS</a>
                </div>
                
                <nav>
                    <a href=/>Inicio</a>
                    <a href=/#>Quienes Somos</a>
                    <a href=/#>Servicios</a>
                    <a href=/#>Contacto</a>
                </nav>
                {% block header %}
                {% endblock %}
                
                {% if request.user.is_authenticated %}
                {% if user.is_staff %}
                    <nav> 
                        <a href="/mngrusr/">Gestionar Usuarios</a>
                        <a href="/addusradmin/">Añadir Usuarios</a>
                        <a href="/regpet/">Registrar Mascota</a>
                        <a href="/mngrpet/">Gestionar Mascotas</a>
                        <a href="/salir/">Cerrar Sesión</a>
                    </nav>
                {% else %}
                    <nav>
                        <a href="/adoptpet/">Adoptar</a>
                        <a href="/salir/">Cerrar Sesión</a>
                    </nav>
                {% endif %}
            {% else %}
                <nav>
                    <a href="/regusr/">Registrarse</a>
                    <a href="/login/">Ingresar</a>
                </nav>
            {% endif %}
            </header>

            <div class=main>
                {% block principal %}
                {% endblock %}
            </div>
            <footer>
            {% block footer %}
            {% endblock %}
                <div class=validado>
                <p>Desarrollo Web y Mobile DWY4101-003D Manuel Yavar</p>
                <p>
                <a href="https://validator.w3.org/nu/?doc=http%3A%2F%2F200.111.90.172%2F">
                <img alt="¡HTML Válido!"src=https://www.w3.org/Icons/valid-html401 style=border:0;width:88px;height:31px>
                </a>
                <a href=http://jigsaw.w3.org/css-validator/check/referer>
                <img alt="¡CSS Válido!"src=http://jigsaw.w3.org/css-validator/images/vcss style=border:0;width:88px;height:31px>
                </a>
                </p>
                </div>
            </footer>
            </div>
    </body>
</html>