{% extends 'maqueta.html' %}
{% load staticfiles %}
{% block header %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>$(document).ready(function(){$(".bxslider").bxSlider()})</script>
<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}">


<div class=bxslider>
        <img alt="Perrito 1"src="{% static 'images/perro1.jpg' %}">
        <img alt="Perrito 2"src="{% static 'images/perro2.jpg' %}">
        <img alt="Perrito OwO"src="{% static 'images/perro3.jpg' %}">
</div>

<div class=botones_sociales>
        <a href=#><img alt=Facebook src="{% static 'images/fb.png' %}"></a>
        <a href=#><img alt="Google Plus"src="{% static 'images/gugul.png' %}"></a>
        <a href=#><img alt=Instagram src="{% static 'images/instagram.png' %}"></a>
        <a href=#><img alt=E-Mail src="{% static 'images/mail.png' %}"></a>
    </div>
{% endblock %}
{% block principal %}
<div class=main>
        <article>
            <h2 class=titulo>Rescate</h2>
            <p class=p1>Etapa uno</p>
            <h2 class=titulo>—————</h2>
            <p class=p1>Rescatamos perros en situacion de peligro y abandono. Los rehabilitamos y los preparamos para conseguirles un nuevo hogar.</p>
            <img alt="Doge de relleno"src="{% static 'images/dogo.jpg' %}" class=img1 height=150>				
        </article>
    </div>

    <div class=main2>
        <img alt="Platito de Comida"src="{% static 'images/plato.jpg' %}" class=img2 height=150>
        <article>
            <h3 class=titulo>Crowdfounding</h3>
            <p class=p2>Financiamiento</p>
            <h3 class=titulo>—————</h3>
            <p class=p2>Sigue nuestras redes sociales para informarte de las diversas campañas y actividades que realizamos para obtener financiamiento para seguir ayudando.</p>
        </article>
    </div>
    <div class=main>
    <a class="boton" href="#">Campañas</a>
    </div>
{% endblock %}
{% block footer %}

			<div class=contenedor1>	
                    <div class=caja>
                        <img alt=Oso src="{% static 'images/perro_bajo1.jpg' %}">
                        <img alt=Maya src="{% static 'images/perro_bajo2.jpg' %}">
                        <img alt=WiFi src="{% static 'images/perro_bajo3.jpg' %}">
                    </div>
                    <div class="caja largo">
                        <img alt=Chocolate src="{% static 'images/perro_bajo4.jpg' %}">
                        <img alt=Pexel src="{% static 'images/perro_bajo5.jpg' %}">
                    </div>
                    <div class=caja>
                        <img alt=Bigotes src="{% static 'images/perro_bajo6.jpg' %}" style=height:62%>
                        <img alt=Luna src="{% static 'images/perro_bajo7.jpg' %}">
                    </div>
                    </div>
{% endblock %}